*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #F2F9FE;
    margin: 1.5rem 4.5rem;
}

header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
}

.option{
    margin-right: 2rem;
}

a{
    text-decoration: none;
    color: #2233449d;
    font-weight: 600;
}

.selected{
    color: #223344;
}

.switch{
    background-color: #111729;
    opacity: 0;
}

.switch input{
    display: none;
}

main{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    color: #223344;
}

.left{
    margin-right: 14rem;
}

.left h3{
    font-size: .875rem;
}

.left h1{
    font-size: 3.75rem;
    margin-top: 1rem;
}

.left p{
    color: #2233449d;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

button{
    background-color: #2A4DD0;
    color: white;
    border: none;
    border-radius: .7rem;
    padding: 1rem 2.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.buttons a{
    color: #2A4DD0;
    text-decoration: underline;
    text-decoration-thickness: .1rem;
}

.check{
    font-size: .875rem;
    font-weight: 520;
    color: #2233449d;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.hero{
    width: 90%;
}